<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_id</key>
	<string>Qjl43DY5LOkAdWNDqgVomKPvXpxG8Z</string>
	<key>client_secret</key>
	<string>akefr7fgxr4pvQDRtqS9jpq8okcNQgcOiBb2IKEg</string>
	<key>authorization_url</key>
	<string>http://infince.com/authorize</string>
	<key>token_url</key>
	<string>http://infince.com/token/request</string>
	<key>app_color</key>
	<string>#FF0000</string>
	<key>callback_url</key>
	<string>http://infince.com/callback</string>
	<key>url_scheme</key>
	<string>app-stgclient9email-com</string>
</dict>
</plist>
